TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
SECRET_KEY=replace-this-for-local-development
PROJECT_NAME=CrowdCollect Movement Demo
PROJECT_DESCRIPTION=We are evaluating a simple way to collect short movement videos for research prototyping. You will be asked to perform a few visible face, hand, and arm movements.
CONTACT_EMAIL=researcher@example.edu
# TASKS_JSON=["Smile naturally","Show your open palm","Make a gentle fist"]
